# Configurações do Banco de Dados PostgreSQL
DB_NAME=sentidos_cobrancas
DB_USER=sentidos_user
DB_PASSWORD=MudarParaUmaSenhaForte123

# Configurações da Aplicação Siscobra
GEMINI_API_KEY=MY_GEMINI_API_KEY
APP_URL=https://siscobra.isentidos.net.br
DOMAIN_NAME=siscobra.isentidos.net.br
